body {
    position: relative;
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5c9c9;;
    /* background-image: url('bkg.png'); */
    /* background-size: cover; */
    /* background-repeat: repeat; */
    /* background-size: 100px 80px;  */
    font-family: "Cardo", serif;
}


.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-image: url('grain.png');
    background-size: repeat;
    opacity: 0.08;
}


.sparkle {
    width: 150px;
    opacity: 0.5;
}

#flower, .flower {
    width: 200px;
    z-index: -1;
}

.flower {
    height: 200px;
}

.container {
    text-align: center;
}

.choices {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* background-color: pink; */
}

.choice {
    display: block;
    text-align: left;
    padding: 3px 20px;
}

.prompt {
    padding: 3px 20px;
}

label {
   padding: 0 3px; 
}

button {
    min-width: 100px;
    border: 1px solid #5a5a5a;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 5px auto;
    padding: 2px 5px;
    font-family: "Cardo", serif;
    font-size: 1em;
}

span {
    display: inline-block;
    vertical-align: middle;
}

/* Radio buttons */
input[type="radio"] {
    accent-color: deeppink;
    -webkit-accent-color: deeppink; /* For older WebKit-based browsers */
    -moz-accent-color: deeppink; /* For older Firefox browsers */
}

/* Checkboxes */
input[type="checkbox"] {
    accent-color: deeppink;
    -webkit-accent-color: deeppink; /* For older WebKit-based browsers */
    -moz-accent-color: deeppink; /* For older Firefox browsers */
}

/* Sliders */
input[type="range"] {
    accent-color: deeppink;
    -webkit-accent-color: deeppink; /* For older WebKit-based browsers */
    -moz-accent-color: deeppink; /* For older Firefox browsers */
    height: 10px;
}

select:hover, select:focus {
    outline: 2px solid deeppink; 
}

select, option {
    font-size: 0.9em;
    font-family: "Cardo", serif;
}
